[
  {
    name: "Test empty command-line",
    files: [ "off_pa.c", "tis_stubs.c" ],
    main: "main"
  },
  {
    name: "Test scenario 1",
    files: [ "off_pa.c", "tis_stubs.c" ],
    main: "main",
    // The first character in the -val-args argument, usually a space, indicates the separator to split the string
    // between argv[1], argv[2], ... Here argv[1] and argv[2] will be "bl", argv[3] will be "bo":
    "raw_options":{"-val-args": " bl bl bo br f2 bl f8", "-val-printf-singleton-pointers": "true"}
  }
]